.calculator {
  background-color: $color-white;
  border-radius: 24px 24px 200px 24px;
  padding: 56px;

  width: clamp(343px, 100%, 840px);
  //   height: 650px;
  display: flex;
  flex-direction: column;

  @include respond(mobile) {
    padding: 48px 24px;
    gap: 32px;
    border-radius: 24px 24px 100px 24px;
  }

  &__input-row {
    display: inline-flex;
    gap: 32px;

    @include respond(mobile) {
      gap: 16px;
    }
  }

  &__input-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: clamp(88px, 23vw, 160px);

    flex: 1 1 30%;
  }

  &__input {
    // max-width: 160px;
    padding: 12px 24px;
    border-radius: 8px;
    border: 1px solid $color-light-grey;

    font-size: clamp(2rem, 5vw, 3.2rem);
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: $color-off-black;
    outline: none;

    cursor: pointer;

    &:focus,
    &:active,
    &:hover {
      border: 1px solid $color-purple;
      transition: all 0.3s;
    }

    @include respond(mobile) {
      padding: 12px 16px;
    }

    &.invalid {
      border: 1px solid $color-error-red;
      + .error-message {
        opacity: 1;
        display: block;
        // transform: scale(1);
        transition: all 0.5s;
      }
    }
  }

  &__divider {
    position: relative;
    height: 96px;

    @include respond(mobile) {
      height: 64px;
    }

    &--line {
      height: 1px;
      background-color: $color-light-grey;
      position: relative;
      top: 48px;

      @include respond(mobile) {
        top: 32px;
      }
    }

    &--icon {
      width: 96px;
      height: 96px;
      background-color: $color-purple;
      border: $color-purple;
      border-radius: 50%;

      position: absolute;
      right: 0;

      cursor: pointer;

      &:hover {
        background-color: $color-off-black;
      }

      @include respond(mobile) {
        width: 64px;
        height: 64px;
        right: calc(50% - 32px);
      }

      svg {
        @include respond(mobile) {
          width: 24px;
          height: 24px;

          g {
            stroke-width: 4;
          }
        }
      }
    }
  }
}

.calculator__results {
  display: flex;
  flex-direction: column;

  &--group {
    display: inline-flex;
    gap: 8px;
  }
  &--number {
    color: $color-purple;
  }
  // &--text {
  // }
}
